<div class="container pad-top">
  <table class="table radiostationtable">
      <tr>
          <td><h3>Details for {{radiostation.name}}</h3></td>
          <td></td>
      </tr>
      <tr>
          <td>Name</td>
          <td>{{radiostation.name}}</td>
      </tr>
      <tr>
          <td>Description</td>
          <td>{{radiostation.description}}</td>
      </tr>
      <tr>
          <td>Start year</td>
          <td>{{radiostation.startyear}}</td>
      </tr>
  </table>
  <div>
      <a class="btn btn-primary" ui-sref="editradiostation({id:radiostation.id})">Edit</a>
  </div>
</div>
